:root {
    --themeColor: #28a745;
    --contentColor: #757575;
    --textColor: #4a4a4a;
    --borderColor: #dddddd;
    --footerBackground: #333132;
    --footerTextColor: #dddddd;
}

* {
    box-sizing: border-box !important;
}

body {
    margin: 0;
    font-family: 'Quicksand' !important;
    /* font-family: 'Roboto', sans-serif !important; */
}

.frame {
    padding: 0 20px;
}

.section {
    position: relative;
    min-height: 100vh;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section .logoBox {
    height: 300px;
    width: 50%;
    margin: 0 auto 30px;
}

.section .logoBox img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.section p, .section h6, .section h4, .section h5 {
    width: 60%;
    margin: 0 auto 20px;
    text-align: center;
}

.section p {
    font-size: 16px;
    color: var(--textColor);
    font-weight: 500;
}

.section h6 {
    font-size: 17px;
    color: var(--contentColor);
    font-weight: 500;
}

.section h4 {
    font-size: 22px;
    color: var(--textColor);
    font-weight: 500;
    text-decoration: underline;
}

.section h5 {
    font-size: 26px;
    color: var(--textColor);
    font-weight: 600;
    letter-spacing: .2em;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--footerBackground);
    padding: 8px;
    z-index: 4;
}

.footer p {
    color: var(--footerTextColor);
    font-size: 13px;
    margin: 0;
    font-weight: 500;
    text-align: center;
}