:root {
    --themeColor: #28a745;
    --contentColor: #757575;
    --textColor: #4a4a4a;
    --borderColor: #dddddd;
    --footerBackground: #333132;
    --footerTextColor: #dddddd;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand';
    font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
}

.customNavBar {
    background-color: var(--themeColor);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.customNavBar .navbar-brand img {
    height: 50px;
    width: 300px;
    object-fit: contain;
    object-position: center;
}

.customNavBar .navbar-nav .nav-item .nav-link {
    position: relative;
    color: #f5f5f5;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 15px;
    transition: all ease .4s;
}

.customNavBar .navbar-nav .nav-item .nav-link:hover {
    color: var(--white);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, .6);
    transition: all ease .4s;
}

.customNavBar .navbar-nav .nav-item .nav-link:hover::before {
    content: "";
    position: absolute;
    top: calc(100% + 2px);
    left: 4px;
    right: 4px;
    border-bottom: 1px solid var(--white);
    transition: all ease .4s;
}

.section.silver-bg {
    background-color: #f6f7fd;
}

.section {
    position: relative;
    padding: 100px 0px;
}

.section .logoBox {
    height: 300px;
    width: 50%;
    margin: 0 auto 30px;
}

.section .logoBox img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.section p, .section h6, .section h4, .section h5 {
    width: 60%;
    margin: 0 auto 20px;
    text-align: center;
}

.section p {
    font-size: 16px;
    color: var(--textColor);
    font-weight: 500;
}

.section h6 {
    font-size: 17px;
    color: var(--contentColor);
    font-weight: 500;
}

.section h4 {
    font-size: 22px;
    color: var(--textColor);
    font-weight: 500;
    text-decoration: underline;
}

.section h5 {
    font-size: 26px;
    color: var(--textColor);
    font-weight: 600;
    letter-spacing: .2em;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--footerBackground);
    padding: 8px;
    z-index: 4;
}

.footer p {
    color: var(--footerTextColor);
    font-size: 13px;
    margin: 0;
    font-weight: 500;
    text-align: center;
}